<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- if you are using the scope as the  prototype it is creating the everytime new object and give backed to the main method
		  and by default it is using the singleton , means when your are asking for particular bean it is giving you only the same object or same bean.  -->
    	<bean id ="jt" class = "com.ram.spring.model.JavaTrainer "></bean>
    	<bean id ="st" class = "com.ram.spring.model.SqlTrainer"></bean>
    	<bean id ="wt" class = "com.ram.spring.model.WebTrainer"></bean>

</beans>